@model SlaughtoriaGamesP1.Models.EditCart

<style>
    body {
        background-image: url(https://media.playstation.com/is/image/SCEA/playstation-wallpapers_ghost-of-tsushima-keyart-4K-01-ps4-26jun20-en-us?$native_nt$);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        height: 100vh;
        padding: 0;
        margin: 0;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        text-decoration: none;
        color: black;
    }

    .button{
        border: 3px outset #941812;
        border-radius: 20px;
        text-decoration: none;
        color: black;
        padding: 7px;
        background-color:#DADBD9;
    }

    .button:hover{
        border: 3px inset #941812;
    }

    .contained {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        text-align:center;
        width: 100%;
        max-height: 500px;
        overflow: scroll;
        overflow-x: hidden;
    }
    .h1span {
        color: black;
        text-shadow: 3px 3px 3px #DADBD9;
        font-weight: 600;
        font-size: x-large;
        margin: 5px;
        padding: 5px;
        border: 3px outset #941812;
        background-color: #DADBD9;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
        justify-self: center;
    }

    .card {
        line-height: 1.5rem;
        margin: 3px;
        padding: 3px;
        text-align: center;
        font-size: large;
        font-weight: 500;
        width: 40%;
        border: 3px outset #941812;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        background-color: #DADBD9;
        color: black;
        text-decoration: none;
        text-shadow: 5px 5px 5px black;
    }
</style>

@if (Model.Cart.Count() == 0)
{
<div class="contained overflow-hidden">
    <span class="h1span">Your cart is empty!</span>
    <div>
        <button class="button">
            <a asp-area="" asp-action="GetCustomerStoreInventory" asp-controller="Stores">Return to order page</a>
        </button>
    </div>
</div>
}
else
{
    <div class="contained">
        <span class="h1span">
            Items currently in your cart:
        </span>
        @foreach (var item in Model.Cart)
        {
            <div class="card">
                <div>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </div>
                <div>
                    SKU #
                    @Html.DisplayFor(modelItem => item.OrderedProduct)
                </div>
                <div>
                    Quantity:
                    @Html.DisplayFor(modelItem => item.OrderedProductAmount)
                </div>
                <div>
                    Cost: $
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </div>
                <div>
                    Store #
                    @Html.DisplayFor(modelItem => item.StoreOrderedFrom)
                </div>
                <div>
                    <div>
                        <form asp-action="EditCartItem">
                            <input type="number" asp-for="OrderNum" value="1" min="1" max="100" />
                            <input hidden="hidden" asp-for="storeId" value=@item.StoreOrderedFrom />
                            <input hidden="hidden" asp-for="itemId" value=@item.OrderedProduct />
                            <input class="button" type="submit" value="New Quantity" />
                        </form>
                    </div>
                    <a>@Html.ActionLink("Delete", "DeleteCartItem", "Stores", item)</a>
                </div>

                
            </div>

        }
        
    </div>
    <div>
        <button class="button">
            <a asp-area="" asp-action="GetCustomerStoreInventory" asp-controller="Stores">Return to order page</a>
        </button>
    </div>
}


<script>
    var mydroplist = document.querySelector("#dropCon");
    console.log(mydroplist);


    document.querySelector(".btnDrop").addEventListener("click", (e) => {
        console.log(e);
        if (mydroplist.classList.contains("showdrop")) {
            mydroplist.classList.remove("showdrop");
            mydroplist.classList.add("hidedrop");
        }
        else if (mydroplist.classList.contains("hidedrop")) {
            mydroplist.classList.remove("hidedrop");
            mydroplist.classList.add("showdrop");
        }


    })
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function storeDropdown() {
        document.getElementById("dropCon").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.btnDrop')) {
            var dropdowns = document.getElementsByClassName("dDown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }

</script>