@model IEnumerable<SlaughtoriaGamesP1.Models.Customers>

<style>

    body {
        background-image: url(https://i1.wp.com/windowscustomization.com/wp-content/uploads/2020/05/Deep-Rock-Galactic-Magma.gif?fit=768%2C432&quality=80&strip=all&ssl=1);
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        height: 100vh;
        padding: 0;
        margin: 0;
        overflow: scroll;
    }

    .h1span {
        color: #903108;
        text-shadow: 3px 3px 3px #7E6348;
        font-weight: 600;
        font-size: x-large;
        margin: 5px;
        padding: 5px;
        border: 3px outset #903108;
        background-color: #F7D03B;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        text-align: center;
        justify-self: center;
    }

    .contain {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: 5px;
    }

    .button {
        border: 3px outset #903108;
        border-radius: 20px;
        text-decoration: none;
        color: #903108;
        text-shadow: 3px 3px 3px #7E6348;
        padding: 7px;
        margin: 5px;
        background-color: #F7D03B;
    }

    .button:hover{
         border: 3px inset #903108;
        cursor: pointer;
    }

    thead {
        border-bottom: 5px solid #903108;
        background-color: #F7D03B;
        text-shadow: 3px 3px 3px #7E6348;
        color: #903108;
        opacity: 0.75;
        text-align: center;
    }

    tr {
        border-bottom: 5px solid #903108;
        border-top: none;
        background-color: #7E6348;
        text-shadow: 2px 1px 2px #F7D03B;
        color: #903108;
        text-align: center;
        opacity: 0.8;
    }
</style>

@if (Model.Count() == 0)
{
    <div class="contain">
        <div>
            <span class="h1span">
                No results!
            </span>
        </div>
        <hr/>
        <div>
            <a class="button" onclick="history.back()">Return to previous screen</a>
        </div>
    </div>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class="button" onclick="history.back()">Return to previous page...</button>

}

<script>


</script>
